<section id="shoppingcart">
  <div class="container text-center">
    <div class="col-md-5 col-sm-12">
      <div class="bigcart"></div>
      <h1>Your shopping cart</h1>
      <p>
        This is a free and <b><a href="http://tutorialzine.com/2014/04/responsive-shopping-cart-layout-twitter-bootstrap-3/" title="Read the article!">responsive shopping cart layout, made by Tutorialzine</a></b>. It looks nice on both desktop and mobile
        browsers. Try it by resizing your window (or opening it on your smartphone and pc).
      </p>
    </div>

    <div class="col-md-7 col-sm-12 text-left">
      <div id="shoppingcart-app"></div>
    </div>
  </div>

  <script src="/js/dist/bundle.js"></script>
